{% if security.registerable or security.recoverable or security.confirmable %}
<center>
<div class="btn-group" role="group" aria-label="Otras opciones">
  {% if url_for_security('login') not in request.path  %}
  <a class="btn btn-default btn-sm" href="{{ url_for_security('login') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">Login</a>
  {% endif %}
  {% if security.registerable and url_for_security('register') not in request.path  %}
  <a class="btn btn-default btn-sm" href="{{ url_for_security('register') }}{% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}">Registrar</a>
  {% endif %}
  {% if security.recoverable and url_for_security('forgot_password') not in request.path %}
  <a class="btn btn-default btn-sm" href="{{ url_for_security('forgot_password') }}">Olvide el password</a>
  {% endif %}
  {% if security.confirmable and url_for_security('send_confirmation') not in request.path  %}
  <a class="btn btn-default btn-sm" href="{{ url_for_security('send_confirmation') }}">Confirmar cuenta</a>
  {% endif %}
</div></center>
{% endif %}
