<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tecolote -- Cambiar password</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Cambiar password</h3>
                    </div>
                    <div class="panel-body">
                        {% include "security/_messages.html" %}
                        <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
                        <fieldset>
                          {{ change_password_form.hidden_tag() }}
                          <div class="form-group">
                            {{ change_password_form.password.label }} {{ change_password_form.password(class="form-control")|safe }}
                            {% if change_password_form.password.errors %}
                              {% for error in change_password_form.password.errors %}
                                <div class="alert alert-danger" role="alert">{{error}}</div>
                              {% endfor %}
                            {% endif %} 
                          </div>
                          <div class="form-group">
                            {{ change_password_form.new_password.label }} {{ change_password_form.new_password(class="form-control")|safe }}
                            {% if change_password_form.new_password.errors %}
                              {% for error in change_password_form.new_password.errors %}
                                <div class="alert alert-danger" role="alert">{{error}}</div>
                              {% endfor %}
                            {% endif %} 
                          </div>
                          <div class="form-group">
                            {{ change_password_form.new_password_confirm.label }} {{ change_password_form.new_password_confirm(class="form-control")|safe }}
                            {% if change_password_form.new_password_confirm.errors %}
                              {% for error in change_password_form.new_password_confirm.errors %}
                                <div class="alert alert-danger" role="alert">{{error}}</div>
                              {% endfor %}
                            {% endif %} 
                          </div>
                          {{change_password_form.submit(value="Cambiar", class="btn  btn-success btn-block btn-lg")|safe}}
                        </fieldset>
                        </form>
                    </div>
                </div>
                {% include "security/_menu.html" %}
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="/static/js/vendor/jquery-1.11.2.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/vendor/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>

</body>

</html>
