<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Enviar instrucciones para reestablecer el password</h3>
                    </div>
                    <div class="panel-body">
                        {% include "security/_messages.html" %}
                        <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
                        <fieldset>
                          {{ forgot_password_form.hidden_tag() }}
                          <div class="form-group">
                            <label for="email"> Correo Electr&oacute;nico</label>{{ forgot_password_form.email(class="form-control", autofocus="autofocus", type="email")|safe }}
                            {% if forgot_password_form.email.errors %}
                              {% for error in forgot_password_form.email.errors %}
                                <div class="alert alert-danger" role="alert">{{error}}</div>
                              {% endfor %}
                            {% endif %}
                        </div>
                        {{forgot_password_form.submit(value="Reestablecer Password", class="btn  btn-success btn-block btn-lg")|safe}}
                        </form>
                        </fieldset>
                    </div>
                </div>
                {% include "security/_menu.html" %}
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="/static/js/vendor/jquery-1.11.2.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/vendor/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/sb-admin-2.js"></script>

</body>

</html>
