{% extends "blank.html" %}
{% block title %}:dashboard:{% endblock %}
{% block head %}
    {{ super() }} 
    {# Agregar estilos especificos para esta pagina aqui #}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-car fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{devices|count}}</div>
                        <div>Dispositivo</div>
                    </div>
                </div>
            </div>
            {% if devices|count == 1 %}
            <a href="/dispositivos/device/id">
            {% else %}
            <a href="/dispositivos">
            {% endif %}
                <div class="panel-footer">
                    {% if devices|count == 1 %}
                    <span class="pull-left">Editar dispositivo</span>
                    <span class="pull-right"><i class="fa fa-edit"></i></span>
                    {% else %}
                    <span class="pull-left">Ver dispositivos</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    {% endif %}
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-map-marker fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{positions|count}}</div>
                        <div>Posiciones</div>
                    </div>
                </div>
            </div>
            <a href="/posiciones">
                <div class="panel-footer">
                    <span class="pull-left">Ver Posiciones</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-bell fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{alarms|count}}</div>
                        <div>Alarmas</div>
                    </div>
                </div>
            </div>
            <a href="/alarmas">
                <div class="panel-footer">
                    <span class="pull-left">Ver Alarmas</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

</div>
<!-- /.row | upper panels -->

<div class="row">
    <div class="col-lg-10 col-md-10" id="map-canvas"></div>
</div> <!-- row mapa -->

{% endblock %}