#map-canvas {
    /*The next makes map fixed (dnt move on scroll down/up).*/
    min-height: 75%;
    min-width: 80%;
    position:absolute;
    float:right;
}

.leaflet-popup-content-wrapper {
  -webkit-border-radius: 6px!important;
  -moz-border-radius: 6px!important;
  border-radius: 6px!important;
  box-shadow: 0 4px 4px rgba(0,0,0,0.5)!important;

  padding-top:0px!important;
  padding-right:0px!important;
}

.leaflet-popup-content {
  margin:0!important; /*5px 16px!important;*/
  margin-left:5px!important;
  margin-bottom:5px!important;
}

.leaflet-popup-content {
    min-width: 320px!important;
}

.leaflet-popup-content .content {
  text-align: center;
}

.leaflet-popup-content .content .date{
            display: inline-block;
            margin-bottom: 5px;
        }

.leaflet-popup-content .content .day{
            display: inline-block;
            padding-right: 5px;

            color: #959595;
            border-right: 2px solid #bebebe;
            font-size: 50px;
            line-height: 50px;
        }

.leaflet-popup-content .content .right{
            float: right;
            padding-left: 10px;

            color: #cacaca;
        }

.leaflet-popup-content .content .month{
            font-size: 28px;
            line-height: 22px;
        }

.leaflet-popup-content .content .year{
            font-size: 26px;
            line-height: 32px;
        }

.leaflet-popup-content .content .name{
            margin-bottom: 15px;

            color: #4a4a4a;
            font-weight: bold;
            font-size: 14px;
        }

.leaflet-popup-content .content i{
            color: #cacaca;
        }

.leaflet-container {
    font: 12px/1.5 "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif!important;
  }
